@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@media (min-width: 1000px) {
  .containerOQueEOutubroRosa p, .containerCaminhadaOutubroRosa p {
    font-size: larger;
  }
  ul {
    align-items: center;
  }
}
@media (max-width: 800px) {
  .logo {
    width: 40vw;
    justify-content: space-between;
  }
  .containerOQueEOutubroRosa img, .containerCaminhadaOutubroRosa img {
    min-width: 30vw;
  }
  .containerOQueEOutubroRosa p, .containerCaminhadaOutubroRosa p {
    font-size: small;
  }
}
@media (max-width: 560px) {
  .logo h1 {
    font-size: large;
  }
  .logo img {
    min-width: 10vw;
  }
  ul {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
  }
  .containerOQueEOutubroRosa {
    flex-direction: column;
  }
  .containerOQueEOutubroRosa img {
    min-width: 50vw;
  }
  .containerCaminhadaOutubroRosa {
    flex-direction: column;
  }
  .containerCaminhadaOutubroRosa img {
    min-width: 70vw;
  }
  .containerIncentivos {
    flex-wrap: wrap;
  }
  .containerIncentivos img {
    min-width: 30vw;
  }
  p {
    font-size: smaller;
    min-width: 70vw;
  }
  .Informacoes {
    font-size: medium;
  }
  .IconesRedesSociais {
    flex-direction: column;
  }
  .IconesRedesSociais img {
    min-width: 7vw;
  }
  .LacoRosa img {
    min-width: 15vw;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: #FFD9EC;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #FF69B4;
  padding: 5px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 30vw;
  color: #E4EEF1;
}
.logo img {
  width: 5vw;
}

nav {
  width: 50vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: #E4EEF1;
  font-size: large;
}

.containerOQueEOutubroRosa {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.containerOQueEOutubroRosa p {
  width: 50vw;
}
.containerOQueEOutubroRosa img {
  width: 30vw;
  padding: 5px;
}

.containerCaminhadaOutubroRosa {
  background-color: #FF69B4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.containerCaminhadaOutubroRosa img {
  width: 35vw;
  padding: 10px;
}
.containerCaminhadaOutubroRosa p {
  width: 50vw;
  color: #E4EEF1;
}

.containerIncentivos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
.containerIncentivos img {
  width: 20vw;
}

footer {
  background-color: #FF69B4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.IconesRedesSociais {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20vw;
}
.IconesRedesSociais img {
  width: 5vw;
}

.Informacoes {
  text-align: center;
  color: #E4EEF1;
}

.LacoRosa img {
  width: 8vw;
}/*# sourceMappingURL=style.css.map */